@charset UTF-8;

body {
color:#000;
font:Garamond;
padding:0;
font-size:12px;
background-image:100%;
}

.container {
background: #FFF;
width: 1080px;
margin-left: auto;
margin-right: auto;
}

.content {
background-color:#FDF9EA;
width:1050px;
line-height:140%;
font-size:13px;
padding: 20px 15px 15px 15px;
height: 500px;
}

.stupid{
background-color:#FDF9EA;
width:1030px;
line-height:140%;
font-size:16px;
padding: 20px 15px 15px 15px;
height: 450px;
overflow-y: scroll;
overflow-x: hidden;

}

/* BACKGROUND PATTERN IMAGES BEGIN */

.pattern1{
background-image:url(../images/backgrounds/wallpaper_1_edit.jpg);
}

.pattern2{
background-image:url(../images/backgrounds/wallpaper_2_edit.jpg);
}

.pattern3{
background-image:url(../images/backgrounds/wallpaper_3_edit.jpg);
}

.pattern4{
background-image:url(../images/backgrounds/wallpaper_4_edit.jpg);
}

.pattern5{
background-image:url(../images/backgrounds/wallpaper_5_edit.jpg);
}

.pattern6{
background-image:url(../images/backgrounds/wallpaper_6_edit.jpg);
}

/* BACKGROUND PATTERN IMAGES END */

/* FONTS BEGIN */

h1 {
color:#FF0000;
font-family:"Helvetica Neue", Helvetica, Arial;
font-size:25px;
font-weight:700;
letter-spacing:3px;
margin-top:30px;
padding-right:5px;
padding-top: 5px;
text-transform:uppercase;
}

h2 {
font-family:"Helvetica Neue", Helvetica, Arial;
color:#FF0000;
font-size:12px;
letter-spacing:2px;
padding-bottom:0;
padding-left:0;
}

p {
padding-right:5px;
}

a img {
border:none;
}

/* FONTS END */

/* LINKS BEGIN */

a:link {
color:#42413C;
font-family:"Helvetica Neue", Helvetica, Arial;
font-weight:700;
text-transform:uppercase;
text-decoration:none;
}

a:visited {
color:#42413C;
font-family:"Helvetica Neue", Helvetica, Arial;
text-decoration:none;
}

a:hover,a:active,a:focus {
color:#F66;
font-family:"Helvetica Neue", Helvetica, Arial;
text-decoration:none;
}

/* LINKS END */

/* MAIN MENU BEGIN */

.menu {
background-color:#FFF;
line-height:100%;
width: 100%;
position: relative;
font-size:10.5px;
}

mul {
list-style:none;
text-decoration:none;
height:25px;
}

mul mli {
float:left;
padding-right:0;
position:relative;
height:25px;
}

mul a {
display:table-cell;
vertical-align:middle;
width:135px;
height:42px;
text-align:center;
background:#FDF9EA;
color:#000;
text-decoration:none;
height:25px;
}

mul a:hover {
background:#0FC;
color:#42413C;
background-color:#CCC;
height:25px;
}

mli > mul {
display:none;
position:absolute;
left:0;
top:100%;
height:25px;
}

mli:hover > mul {
display:block;
height:25px;
}

mli > mul mli {
padding:0;
height:25px;
}

mli > mul mli > mul {
padding:0;
left:100%;
top: 0; 
width:100%;
height:25px;
}

mli > mul mli > mul:hover {
width: 100%;
height:25px;
}

/* MAIN MENU END */

/* FOOTER RIBBON BEGIN */

/* FOOTER RIBBON BEGIN */

.footer {
background:#606060;
clear:both;
height:110px;
position:relative;
width:1080px;
padding:0;
}

 .ribbon-wrapper2 {
	position: relative;
}
  .ribbon-front2 {
	background-color: #F6E7AB;	
	height: 110px;
	width: 1150px;
	position: relative;
	left:-48px;
	z-index: 2;
}


  .ribbon-edge-topleft2,
  .ribbon-edge-topright2,
  .ribbon-edge-bottomleft2,
  .ribbon-edge-bottomright2 {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft2,
  .ribbon-edge-topright2 {
}

  .ribbon-edge-bottomleft2,
  .ribbon-edge-bottomright2 {
	top: 75px;
}

  .ribbon-edge-topleft2,
  .ribbon-edge-bottomleft2 {
	left: -50px;
	border-color: transparent #C4B889 transparent transparent;
}

  .ribbon-edge-topleft2 {
	top: -105px;
	border-width: 110px 35px 0 0;
}
  .ribbon-edge-bottomleft2 {
	border-width: 0 35px 0px 0;
}

  .ribbon-edge-topright2,
  .ribbon-edge-bottomright2 {
	left: 1065px;
	border-color: transparent transparent transparent #C4B889;
}

  .ribbon-edge-topright2 {
	top: -105px;
	border-width: 110px 0 0 35px;
}
  .ribbon-edge-bottomright2 {
	border-width: 0 0 0px 35px;
}

  .ribbon-back-left2 {
	position: absolute;
	top: -105px;
	left: -85px;
	width: 70px;
	height: 110px;
	background-color: #F4E196;	z-index: 0;
}

  .ribbon-back-right2 {
	position: absolute;
	top: -105px;
	right: -86px;
	width: 70px;
	height: 110px;
	background-color: #F4E196;	z-index: 0;
}

.headerribbontitle {
color:#FF0000;
font-family:"storybook", Arial;
font-size:17px;
letter-spacing: 3px;
text-transform:uppercase;
padding-top: 10px;
padding-right: 50px;
text-align:right;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.headerribbon {
color:#FF0000;
font-family:"storybook", Arial;
font-size:48px;
letter-spacing:5px;
text-transform:uppercase;
padding-top: 7px;
text-align:left;
padding-left: 25px;
line-height: 100%;
float:left;
text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

/* FOOTER RIBBON END */