@charset "UTF-8";
/* CSS Document */

h1
{
	background-color:#F00;
	color:#FF0;
}

h2
{
	font-family:"Arial Black", Gadget, sans-serif
	color: #9C3
}

div
{
	background-color: #3FF; 
	height:500px;
	width:400px; 
	float:left;
}
